<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<%= month_calendar events: @activities, table: {class: "calendar"}, tr: {class: "calendar-row"}, day_names: "date.day_names" do |date, activities| %>
			  
			  <div class="date-day">
			  	<%= date.day %>
			  </div>
			  

			  <% activities.each do |activity| %>

			  		<div class="activity-item">
			  			<%= link_to activity_path(activity.id), class: "activity-link" do %>
			  				<%= @types.find(activity.type_id).name %> <% if activity.distance %>/ <%= activity.distance.round(1) %> mi. <% end %> <% if activity.duration %> / <%= activity.chrono_duration %> <% end %>
			  				<% end %>
			  	</div>

			  <% end %>
			<% end %>
		</div>
	</div>
</div>