<div class="container-fluid">
	<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="widget">
					<div class="widget-body">
						<%= @distance_today %>
					</div>
					<div class="widget-label">
						<p>Miles today</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="widget">
					<div class="widget-body">
						<%= @distance_this_week %>
					</div>
					<div class="widget-label">
						<p>Miles this week</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="widget">
					<div class="widget-body">
						<%= @distance_this_month %>
					</div>
					<div class="widget-label">
						<p>Miles this month</p>
					</div>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
				<div class="chart-widget">
					<div class="widget-label">
						<p class="chart-label">
							Daily miles for current week <br/>
							<small><%= Date.today.at_beginning_of_week.strftime("%-m/%-d/%Y") %> - <%= Date.today.at_end_of_week.strftime("%-m/%-d/%Y") %></small>
						</p>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-xs-12 chart-container">
							<% if @user.activities.this_week.inject { |sum, x| sum + x } === 0 %>
								<h2>You have no completed or planned activities for this week!</h2>
								<h3>
									<%= link_to new_activity_path do %>
									    Add an activity!
									    <i class="fa fa-plus-circle"></i>
									<% end %>
								</h3>
							<% else %>
								<%= content_tag :canvas, "", id: "weekly-chart", data: { activities: @user.activities.this_week.to_json } %>
							<% end %>
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="chart-widget">
				<div class="widget-label">
					<p class="chart-label">
						Current Shoe
					</p>
				</div>
				<div class="chart-container">
					<%= content_tag :canvas, "", id: 'shoe-donut' %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="widget">
				FAVORITE ROUTE
			</div>
		</div>
	</div>

</div>