
<% if signed_in? %>

<div class="container">
		<%= link_to "Add an activity", new_activity_path, class: "btn btn-large btn-primary center" %>
		<%= link_to "Sign out", signout_path, method: "delete", class: "btn btn-large btn-primary center"  %>
</div>

	<% else %>

	<% provide(:title, 'The Elite Training Log') %>
	<div class="container">
		<div class="row">
			<div class="col-md-12 pitch">
				<div class="logo">
					<h1>SecondWind</h1>
					<hr>
				</div>
				<h2>The elite training log for the elite athlete.</h2>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-lg-4 centered">

				<h1>Start <span>running</span> now!</h1>

				<%= form_for User.new do |f| %>

				<%= f.text_field :username, placeholder: "Username" %>

				<%= f.text_field :email, placeholder: "Email" %>
	
				<%= f.password_field :password, placeholder: "Password" %>
				
				<%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>

				<%= f.submit "Get Started!", class: "btn btn-large btn-primary" %>
				<% end %>
					
			</div>
		</div>
	</div>



	<% end %>