<div class="row">
	<div class="span6 offset3">
		<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
		<%= f.submit "Update Password", class: "btn btn-primary btn-large" %>
		<% end %>
	</div>
</div>