<% provide(:title, 'Add an Activity') %>




<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1 class="activity-heading">Add an Activity</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<%= render 'shared/error_messages' %>
		</div>
	</div>

		<%= form_for(@activity) do |f| %>

			<div class="row">
				<div class="col-md-2 col-md-offset-3">
					<div class="form-group">
						<%= f.label :date, "Activity date" %>
						<%= f.date_field :date, value: Date.today, class: "form-control" %> 
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<%= f.label :type_id, "Activity type" %>
						<%= f.collection_select :type_id, Type.all, :id, :name, {include_blank: "Select a type"}, class: "form-control" %>
					</div>
				</div>
			</div>
						
			<div class="row">			
				<div class="col-md-2 col-md-offset-3">
					<div class="form-group">
						<%= f.label :distance, "Distance" %>
						<%= f.text_field :distance, placeholder: "Miles", class: "form-control"  %>
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<%= f.label :duration, "Duration" %>
						<%= f.text_field :duration, placeholder: "hh:mm:ss", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<%= f.label :pace, "Pace" %>
						<%= f.text_field :pace, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="form-group">
						<%= f.label :content, "Notes" %>
						<%= f.text_area :content, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<%= f.submit "Add new activity!", class: "btn btn-primary" %>
				</div>
			</div>

		<% end %>
</div>
