<% provide(:title, 'Add an Activity') %>

<h1>Add an Activity</h1>

<div class="row">
	<div class="span9 offset3">
		<%= render 'shared/error_messages' %>
		<%= form_for(@activity) do |f| %>

		<div class="row">
			<div class="span3">
				<%= f.label :date, "Activity date" %>
				<%= f.date_field :date, value: Date.today %> 
			</div>
			<div class="span2">
				<%= f.label :type_id, "Activity type" %>
				<%= f.collection_select :type_id, Type.all, :id, :name, {include_blank: "Select a type"} %>				
			</div>
		</div>

		<div class="row">
			<div class="span3">
					<%= f.label :distance, "Distance" %>
					<%= f.text_field :distance , class: "inline-input" %> miles			
			</div>
		</div>
			<div class="span2">
					<%= f.label :duration, "Duration" %>
					<%= f.text_field :duration, class: "inline-input" %>			
			</div>
			<div class="span2">
					<%= f.label :pace, "Pace" %>
					<%= f.text_field :pace, class: "inline-input" %>			
			</div>
		</div>
		
		<div class="row">
			<div class="span2">
					<%= f.label :calories, "Calories burned" %>
					<%= f.text_field :calories, class: "inline-input" %>			
			</div>
	
			<div class="span4">
					<%= f.label :content, "Notes" %>
					<%= f.text_area :content, class: "activity-content" %>
			</div>
		</div>

			<%= f.submit "Add new activity!", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
