<!DOCTYPE html>
<html>
<head>
  
  <title><%= full_title(yield(:title)) %></title>
  
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div id="page-wrapper" class="active">

<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-logo">
        <a href="#">
          SecondWind
        </a>
      </li>
      <li class="sidebar-main">
        <a href="#" id="toggle">
          Navigation
          <span class="menu-icon fa fa-exchange"></span>
        </a>
      </li>
      <li class="sidebar-list" id="home">
        <%= link_to dashboard_home_path do %>
          Home
          <i class="menu-icon fa fa-home"></i>
        <% end %>
      </li>
      <li class="sidebar-list" id="calendar">
        <%= link_to dashboard_calendar_path do %>
          Calendar
          <i class="menu-icon fa fa-calendar-o"></i>
        <% end %>
      </li>
      <li class="sidebar-list" id="analysis">
        <%= link_to dashboard_analysis_path do %>
          Analysis
          <i class="menu-icon fa fa-signal"></i>
        <% end %>
      </li>
      <li class="sidebar-list" id="routes">
        <%= link_to "#" do %>
          Routes
          <i class="menu-icon fa fa-road"></i>
        <% end %>
      </li>
      <li class="sidebar-list" id="shoes">
        <%= link_to "#" do %>
          Shoes
          <i class="menu-icon fa fa-paw"></i>
        <% end %>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <%= link_to "About", "#" %>
      </div>
      <div class="col-xs-4">
        <%= link_to "Support", "#" %>
      </div>
      <div class="col-xs-4">
        <%= link_to "Donate", "#" %>
      </div>
    </div>
  </div>
<!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

<!-- Header Bar -->

      <div class="row header">
        <div class="col-xs-12">
          <div class="header-add pull-left">
            <%= link_to new_activity_path do %>
                Add Activity
                <i class="fa fa-plus-circle"></i>
            <% end %>
          </div>

          <div class="user pull-right">
            <% if signed_in? %>
            <div class="item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %>
                <%= gravatar_for(current_user, size: 50) %>
              </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="dropdown-header">
                    <%= current_user.name %>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <%= link_to "Profile", user_path(current_user.id) %>
                  </li>
                  <li class="link">
                    <%= link_to "Settings", edit_user_path(current_user.id) %>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <%= link_to 'Sign out', signout_path, method: 'delete' %>
                  </li>
                </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- Page content -->

      <%= render 'shared/error_bar' %>


      <%= yield %>

 
    <div class="container-fluid">
      <div class="col-xs-12">
        <%= debug(params) if Rails.env.development? %>        
      </div>
    </div>

    

    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
</body>
</html>